.form {
    &__wrapper {
        width: 380px;
        box-shadow: 1px -1px 9px -1px rgba(0,0,0,0.75);
        -webkit-box-shadow: 1px -1px 9px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px -1px 9px -1px rgba(0,0,0,0.75);
        padding: 4px 12px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
}



.centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
}