<div #containerEl class="content">
    <div nz-flex class="header" nzJustify="flex-end" nzAlign="center">
        <button nz-button nzType="primary" [routerLink]="'/app/group-registration/create'">Добавить</button>
    </div>
    <nz-table
        #table
        *ngIf="(data$ | async) as data"
        [nzData]="data || []"
        [nzPageIndex]="(size$ | async) ?? 1"
        (nzPageIndexChange)="setPage($event)"
        [nzPageSize]="(size$ | async) ?? 20"
        (nzPageSizeChange)="setSize($event)"        
        [nzScroll]="{ y: tableHeight }"
    >
        <thead>
          <tr>
            <th>Дата</th>
            <th>Группа</th>
            <th>Статус</th>
            <th>Филиал</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of data">
            <td>{{ row.date }}</td>
            <td>{{ row.group.name }}</td>
            <td>{{ row.status }}</td>
            <td>{{ row.branch.name }}</td>
            <td>
              <nz-flex nz-row nzGap="10">
                <button
                  nz-button
                  nzType="text"
                  nz-popconfirm
                  nzPopconfirmTitle="Вы действительно хотите удалить Группу?"
                  (nzOnConfirm)="onDelete(row)"
                  [nzOkText]="'Да'"
                  [nzCancelText]="'Нет'"
                >Удалить</button>
                <button
                  nz-button
                  nzType="text"
                  (click)="onEdit(row)"
                >
                  Именить
                </button>

              </nz-flex>
              
              
            </td>
          </tr>
        </tbody>
    </nz-table>
</div>
