<form [formGroup]="positionForm" (ngSubmit)="onSubmit()" nz-form nzLayout="vertical">
    
    <!-- Name -->
    <nz-form-item>
        <nz-form-label nzFor="title" nzRequired>Название</nz-form-label>
        <nz-form-control nzErrorTip="Максимально 100 символов">
            <input nz-input id="title" formControlName="title" placeholder="Введите название" />
        </nz-form-control>
    </nz-form-item>


    <!-- Submit Button -->
     <nz-form-item>
        <nz-form-control>
            <button nz-button nzType="primary" [disabled]="!positionForm.valid">Сохранить</button>
        </nz-form-control>
     </nz-form-item>

</form>