<div #containerEl class="content">
    <div nz-flex class="header" nzJustify="flex-end" nzAlign="center">
        <button nz-button nzType="primary" [routerLink]="'/app/branch/create'">Добавить</button>
    </div>
    <nz-table
        #table
        *ngIf="(data$ | async) as data"
        [nzData]="data || []"
        [nzPageIndex]="(size$ | async) ?? 1"
        (nzPageIndexChange)="setPage($event)"
        [nzPageSize]="(size$ | async) ?? 20"
        (nzPageSizeChange)="setSize($event)"        
        [nzScroll]="{ y: tableHeight }"
    >
        <thead>
          <tr>
            <th>Название</th>
            <th>Адрес</th>
            <th>Описание</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of data">
            <td>{{ row.name }}</td>
            <td>{{ row.address }}</td>
            <td>{{ row.description }}</td>
            <td>
              <button
                nz-button
                nzType="text"
                nz-popconfirm
                nzPopconfirmTitle="Вы действительно хотите удалить филиала"
                (nzOnConfirm)="onDelete(row)"
                [nzOkText]="'Да'"
                [nzCancelText]="'Нет'"
              >Удалить</button>
            </td>
          </tr>
        </tbody>
    </nz-table>
</div>
