<form [formGroup]="childContractForm" (ngSubmit)="onSubmit()" nz-form nzLayout="vertical">
    <!-- Date -->
    <nz-form-item>
        <nz-form-label nzFor="date">Дата</nz-form-label>
        <nz-form-control>
            <nz-date-picker
                id="date"
                formControlName="date"
                nzPlaceHolder="Вырерите дату"
                nzFormat="yyyy-MM-dd"
            ></nz-date-picker>
        </nz-form-control>
    </nz-form-item>

    <!-- Branch -->
    <nz-form-item>
        <nz-form-label nzFor="branch">Филиал</nz-form-label>
        <nz-form-control>
            <app-branch-picker id="branch" formControlName="branch"></app-branch-picker>
        </nz-form-control>
     </nz-form-item>

    <!-- Child -->
     <nz-form-item>
        <nz-form-label nzFor="child">Клиент</nz-form-label>
        <nz-form-control>
            <app-child-picker id="child" formControlName="child"></app-child-picker>
        </nz-form-control>
     </nz-form-item>

     <!-- Subscription -->
    <nz-form-item>
        <nz-form-label nzFor="subscription">Платежа</nz-form-label>
        <nz-form-control>
            <input nz-input id="subscription" formControlName="subscription" placeholder="Введите Сумму платежа" />
        </nz-form-control>
    </nz-form-item>

     <!-- Payment Type -->
     <nz-form-item>
        <nz-form-label nzFor="payment_type">Способ оплаты</nz-form-label>
        <nz-form-control>
            <app-payment-type-picker id="payment_type" formControlName="payment_type"></app-payment-type-picker>
        </nz-form-control>
    </nz-form-item>

    <!-- Payment Date -->
    <nz-form-item>
        <nz-form-label nzFor="payment_date">Дата платежа</nz-form-label>
        <nz-form-control>
            <nz-date-picker
                id="payment_date"
                formControlName="payment_date"
                nzPlaceHolder="Вырерите дату платежа"
                nzFormat="yyyy-MM-dd"
            ></nz-date-picker>
        </nz-form-control>
    </nz-form-item>

    <!-- Group Registration -->
    <nz-form-item>
        <nz-form-label nzFor="group_registration">Группа</nz-form-label>
        <nz-form-control>
            <app-group-registration-picker id="group_registration" formControlName="group_registration"></app-group-registration-picker>
        </nz-form-control>
    </nz-form-item>

    <!-- Description -->
    <nz-form-item>
        <nz-form-label nzFor="description">Описание</nz-form-label>
        <nz-form-control>
            <textarea
                nz-input
                id="description"
                formControlName="description"
                placeholder="Введите описание"
                rows="4"
            ></textarea>
        </nz-form-control>
    </nz-form-item>

     <!-- Submit Button -->
     <nz-form-item>
        <nz-form-control>
            <button
                nz-button
                nzType="primary"
                [disabled]="!childContractForm.valid"
                >
                Сохранить
            </button>
        </nz-form-control>
     </nz-form-item>
</form>
