<form [formGroup]="groupRegistrationForm" (ngSubmit)="onSubmit()" nz-form nzLayout="vertical">
    <!-- Date -->
    <nz-form-item>
        <nz-form-label nzFor="date">Дата</nz-form-label>
        <nz-form-control>
            <nz-date-picker
                id="date"
                formControlName="date"
                nzPlaceHolder="Вырерите дату"
                nzFormat="yyyy-MM-dd"
            ></nz-date-picker>
        </nz-form-control>
    </nz-form-item>

    <!-- Group -->
     <nz-form-item>
        <nz-form-label nzFor="group">Группа</nz-form-label>
        <nz-form-control>
            <app-group-picker
                [disabled]="isEditMode()"
                id="group"
                formControlName="group"></app-group-picker>
        </nz-form-control>
     </nz-form-item>

    <!-- Branch -->
    <nz-form-item>
        <nz-form-label nzFor="branch">Филиал</nz-form-label>
        <nz-form-control>
            <app-branch-picker id="branch" formControlName="branch"></app-branch-picker>
        </nz-form-control>
     </nz-form-item>

    <!-- Children -->
     <div *ngIf="isEditMode()">
        <span>Список детей</span>
        <nz-list nzBordered>
            <nz-list-item *ngFor="let item of groupRegistrationForm.value.children">
                <!-- <ul nz-list-item-actions>
                    <nz-list-item-action>
                        <button nz-button nzType="text" nzDanger type="button" (click)="onDeleteChild(item)">Удалить</button>
                    </nz-list-item-action>                
                </ul> -->
                
                <span>{{ getChildContractName(item) }}</span>
            </nz-list-item>
            <!-- <nz-list-footer>
                
                <button
                    nz-button
                    nzType="primary"
                    type="button"
                    (click)="onAdd()"
                >Добавить контракт</button>
            </nz-list-footer> -->
        </nz-list>
     </div>
    

    <app-group-registration-form-add-child-modal
        [visible]="showAdd"
        (onClose)="onClose()"
        (onSelect)="onSelect($event)"
    ></app-group-registration-form-add-child-modal>
    

    <!-- Submit Button -->
    <nz-form-item ngClass="buttons-panel">
        <nz-form-control>
            <nz-flex nzGap="10px">
                <button
                    nz-button
                    nzDanger
                    [routerLink]="'../'"
                >
                    Отмена
                </button>
                <button
                    nz-button
                    nzType="primary"
                    [disabled]="!groupRegistrationForm.valid"
                    >
                    Сохранить
                </button>
            </nz-flex>
            
        </nz-form-control>
    </nz-form-item>
</form>
