<div class="app-dashboard-wrapper">
    <nz-page-header nzBackIcon nzTitle="Dashboard" class="app-header">
      <nz-page-header-extra>
        <nz-space>
          <app-company-picker [selectedCompany]="company | async" (selectedCompanyChange)="setCompany($event)" />
        </nz-space>
      </nz-page-header-extra>

    </nz-page-header>
    <nz-flex nzGap="0" class="app-content">
      <ul nz-menu nzMode="inline" class="app-side-bar">
        <li
          nz-submenu
          nzTitle="Справочники"
          nzIcon="mail"
        >
          <ul>
            <li nz-menu-item>
              <a routerLink="/app/company">
                Компании
              </a>
            </li>
            <li nz-menu-item>
              <a routerLink="/app/branch">
                Филиалы
              </a>
            </li>
            <li nz-menu-item>
              <a routerLink="/app/group">
                Группы
              </a>
            </li>
            <li nz-menu-item>
              <a routerLink="/app/child">
                Дети
              </a>
            </li>
            <li nz-menu-item>
              <a routerLink="/app/employee">
                Сотрудники
              </a>
            </li>
            <li nz-menu-item>
              <a routerLink="/app/position">
                Позиции
              </a>
            </li>
            <li nz-menu-item>
              <a routerLink="/app/reason">
                Причины
              </a>
            </li>
            <li nz-menu-item>
              <a routerLink="/app/department">
                Разделы
              </a>
            </li>
            <li nz-menu-item>
              <a routerLink="/app/payment-type">
                Способ оплаты
              </a>
            </li>
            
          </ul>
        </li>
        <li nz-menu-item>
          <a routerLink="/app/employee-contract">
            Сотрудники (Контракт)
          </a>
        </li>    
        <li nz-menu-item>Клиенты</li>
        <li nz-menu-item>Контракты</li>    
      </ul>
      <nz-flex nzFlex="1 1 0" nzVertical class="app-content__inner">
          <router-outlet></router-outlet>
      </nz-flex>
    </nz-flex>
</div>

